.cardContainer {
  min-width: 20em;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 1em;

  color: white;
  background-color: dimgray;

  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s;
}

a {
  color: white;
  background-color: darkgray;
  margin: 0.1em;
  border-radius: 0.1em;
}

.cardContainer:hover {
  box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.5s;
}

.cardContainer > div {
  text-align: left;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 25%;
}

.cardName {
  background-color: darkgray;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center;
}

.options {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding-top: 0.2em;
  font-size: x-large;
}

.options > .option {
  border-top-right-radius: 0.5em;
  border-top-left-radius: 0.5em;

  padding: 0.2em;
  color: black;
}

.unselectedOption {
  background-color: rgb(84, 162, 252);
}
.selectedOption {
  background-color: rgb(223, 122, 56);
}

#sideBar {
  background-color: darkgray;
  padding: 0.2em;
  flex-basis: 25%;
  flex-grow: 1;


}

#sideBar.hidden{
  display:none;
}

#sideBar > .externalLinks {
  text-align: center;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.5);
  padding: 0.1em;
  display: flex;
  flex-direction: column;
}

#sideBar > .externalLinks > a {
  background-color: dimgray;
}

.colorIdentity {
  margin-right: 0.1em;
  background-color: darkgray;

  padding: 0.3em;
  border-bottom-right-radius: 0.7em;
  margin-bottom: 0.3em;
  height: 1em;
}

.colorIdentity > .colorIdentitySymbols {
  text-align: center;
  padding: 0px;
  display: flex;
  min-width: 5em;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.cardTitle .manaCost {
  padding: 0.3em;
  margin-left: 0.1em;
  border-bottom-left-radius: 0.7em;
  background-color: darkgray;

}

.typeLine {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
  background-color: darkgray;
  flex-wrap: wrap;
}
.typeLine > span {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.typeLine > span {
  white-space: nowrap;
}

.rulesText {
  padding: 0.1em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.powerToughness {
  padding-right: 0.25em;

  text-align: right;
  background-color: darkgray;

  width: auto;
}

.colorSymbol {
  border-radius: 1em;
  min-width: 1em;
  flex-shrink: 0;
  height: 1em;
  color: black;
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.colorSymbolW {
  background-color: #f3e8a7;
}
.colorSymbolU {
  background-color: #5ebeff;
}
.colorSymbolB {
  background-color: #555555;
}
.colorSymbolR {
  background-color: #ff0000;
}
.colorSymbolG {
  background-color: #1faa00;
}

.legalities {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.legalities > div {
  background-color: dimgray;

  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.2em;
}

.legalities > div:nth-child(2n) {
  background-color: #464958;
}

.legalities > div > .legality {
  margin-left: 0.25em;
  margin-right: auto;
}
