<div *ngIf="!this.cardSearchService.loaded">
  <div>Fetching all card names...</div>
  <div id="bowlG">
    <div id="bowl_ringG">
      <div class="ball_holderG"><div class="ballG"></div></div>
    </div>
  </div>
</div>

<div *ngIf="this.cardSearchService.loaded" id="search-component">
  <div>
    <div class="cardNameSelectContainer">
      <h2>Search</h2>
      <div id="search-box-container">
        <input
          #searchBox
          [ngClass]="{
            cardNameSearchComplete: selectedCard,
            cardNameSearchFailed: (cardSearchService.filtered | async).length == 0
          }"
          id="search-box"
          (keyup)="filterByPartialCardName(searchBox.value)"
        />
        <button class="resetSearchQueryButton" (click)="searchBox.value = ''">
          X
        </button>
      </div>

      <div
        class="filteredNames"
        *ngIf="searchBox.value && !selectedCard.length"
      >
        <div>
          <div
            *ngFor="let name of (cardSearchService.filtered | async)"
            (click)="selectCard(name);searchBox.value=name;"
            style=""
            class="pointer cardSuggestion"
          >
            {{ name }}
          </div>
        </div>
      </div>
    </div>

    <div>
      <h2>Color identity</h2>
      <div class="colorButtons">
        <button
          *ngFor="let color of colors"
          class="pointer colorToggleButton"
          [ngClass]="{ colorSelected: selectedColors.has(color) }"
          (click)="toggleColor(color)"
        >
          {{ color }}
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedCard.length">
    <h1>{{ selectedCard }}</h1>
    <button class="doSearchButton" (click)="doSearch()">Search</button>
  </div>
</div>
