.cardContainer {
  min-width: 20em;

  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-wrap: wrap;
  flex-basis: 0%;
  justify-content: center;
  margin-bottom: 0.5em;

  color: white;
  background-color: rgb(116, 116, 116);

  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

a {
  color: white;
  background-color: darkgray;
  margin: 0.1em;
  border-radius: 0.1em;
}

.cardContainer:hover {
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
}

.cardContainer > div{
	text-align: left;

}

.card {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-basis: 25%;
}

.cardName {
  background-color: darkgray;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0em;
  margin-bottom: 0em;
  text-align: center;
  
}

.options{
	flex-basis: 0.1;
	flex-grow: 0;
}

.options > div{
	height: 100%;
	background-color: rgb(61, 61, 114);
	width: 3em;
	padding: 0%;


}
.sideBar{
	border-left: 1px solid black;
	padding: 0.1em;
	flex-basis: 25%;
	flex-grow: 1;


.sideBar {
  border-left: 1px solid black;
  padding: 0.1em;
  flex-basis: 25%;
  flex-grow: 1;
}

.sideBar > .externalLinks {
  text-align: center;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.5);
  padding: 0.1em;
  display: flex;
  flex-direction: column;
}

.colorIdentity {
  margin-right: 0.1em;
  background-color: darkgray;

  padding: 0.3em;
  border-bottom-right-radius: 0.7em;
  margin-bottom: 0.3em;
  height: 1em;
}

.colorIdentity > .colorIdentitySymbols {
  text-align: center;
  padding: 0px;
  display: flex;
  min-width: 5em;
}

.cardTitle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.cardTitle .manaCost {
  padding: 0.3em;
  border-bottom-left-radius: 0.7em;
}

.typeLine {
  display: flex;
  justify-content: space-between;
  padding: 0.25em;
  background-color: darkgray;
  flex-wrap: wrap;
}
.typeLine > span {
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.typeLine > span {
  white-space: nowrap;
}

.rulesText {
  padding: 0.1em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

.powerToughness {
  padding: 0.25em;
  text-align: right;
  background-color: darkgray;

  width: auto;
}

.colorSymbol {
  border-radius: 1em;
  min-width: 1em;
  flex-shrink: 0;
  height: 1em;
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
}

.colorSymbolW {
  background-color: #fff9d6;
}
.colorSymbolU {
  background-color: #5ebeff;
}
.colorSymbolB {
  background-color: #555555;
}
.colorSymbolR {
  background-color: #ff0000;
}
.colorSymbolG {
  background-color: #1faa00;
}

.legalities {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.legalities > div {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.legalities > div:nth-child(2n) {
  background-color: #464958;
}

.legalities > div > .legality {
  margin-left: 0.25em;
  margin-right: auto;
}
