<div id="search-component">
  <h1>Cards!</h1>
  <div class="searchOptions">
    <div>
      <h2>Search</h2>
      <input #searchBox id="search-box" (keyup)="filter(searchBox.value)" />
    </div>
    <div>
      <h2>
      Color identity
      </h2>
      <div class="colorButtons">
      <button *ngFor="let color of colors" class="colorToggleButton" [ngClass]="{'colorSelected':selectedColors.has(color)}" (click)="toggleColor(color)">
      {{color}}
      </button>
    </div>
    </div>
    
  </div>
  <div *ngIf="searchInProgress">
    <div id="bowlG">
      <div id="bowl_ringG">
        <div class="ball_holderG">
          <div class="ballG">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="filteredNames"  *ngIf="searchBox.value">
    <h2>
    Filtered
    </h2>
    <ul>
      <li *ngFor="let name of filteredNames | async">
        <button (click)="userSearchFor(name);">
          {{name}}
        </button>
      </li>
    </ul>
  </div>
</div>