<div *ngIf="card" class="cardContainer">
    <div class="card">
        
        <div class="cardTitle">
            <span class="colorIdentity">
                <div *ngIf="this.card.colorIdentity?.length>0" class="colorIdentitySymbols">
                    <span *ngFor ="let symbol of this.card.colorIdentity" class="colorSymbol colorSymbol{{symbol}}">
                    </span>
                </div>
                <div *ngIf="!this.card.colorIdentity?.length > 0" class="colorIdentitySymbols">
                </div>
            </span>
            <div class="cardName">
                <button [routerLink]="['/similar', card.name, 1]">{{card.name}}</button>
            </div>
            <span class="manaCost">{{card.manaCost}}</span>
        </div>
        <div class="typeLine">
            <span class="types">{{card.type}} </span>
            <span> | </span>
            <span class="set">{{card.set.name}} ({{card.set.code}}) </span>
        </div>
        <div class="rulesText" [innerHTML]="card.text.replace('\n','<br>') "></div>
        <div *ngIf="card.power && card.toughness" class="powerToughness">
            <div class="stats">{{card.power}} / {{card.toughness}} </div>
        </div>
    </div>
    <div class="sideBar">
        <div>
            Links
        </div>
        <div class="externalLinks">
            <a href="https://scryfall.com/search?q=!&quot;{{card.name}}&quot;">
                Scryfall
            </a>
            <a href="http://gatherer.wizards.com/Pages/Search/Default.aspx?name=+[{{card.name}}]">
                Gatherer
            </a>
        </div>
        <div class="legalities">legalities:
            <div *ngFor="let legality of card.legalities">
                <span class="format">{{legality.format}}:</span><span class="legality"> {{legality.legality}}</span>
            </div>
        </div>
    </div>
    
</div>